@page
@model NET_6_Razor.Pages.Private.OrderUpdateModel
@{
}
<h1>Редактирование заказа</h1>
<hr />
<form method="post">
    <div>
        <label>ID заказа</label>
        <div>
            <input type="text" name="id_order" value="@Model.order.ID_order" disabled />
        </div>
    </div>
    <div>
        <label>ID пользователя</label>
        <div>
            <input type="text" name="id_user" value="@Model.order.ID_user" />
        </div>
    </div>
    <div>
        <label>Дата заказа</label>
        <div>
            <input type="datetime" name="date" value="@Model.order.Date" />
        </div>
    </div>
    <br />
    <div>
        <input type="submit" value="Сохранить" asp-page-handler="Update" asp-route-id_order="@Model.order.ID_order" />
    </div>
</form>
<br />
<div>
    <a asp-page="/Private/OrderList">Вернуться к списку</a>
</div>