@page
@model NET_6_Razor.Pages.Tasks.Placeholder1Model
@{
    Layout = "~/Pages/Shared/_LayoutCustom.cshtml";
}

@section placeholder1 {
    <div>Измененный плейсхолдер 1</div>
}

@section placeholder2 {
    <div>Измененный плейсхолдер 2</div>
}