@page
@model NET_6_Razor.Pages.Tasks.RadiobuttonModel

<form method="POST">
    <div>
        <label>TextBox: </label><br />
        <input type="text" name="textBox" /><br />
    </div>
    <div>
        <label>ListBox: </label><br />
        <select multiple size="4" name="listBox">
            <br />
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div>
        <label>DropDownList: </label><br />
        <select name="dropdownList">
            <br />
            <option>(А)</option>
            <option>(Б)</option>
            <option>(В)</option>
            <option>(Г)</option>
        </select>
    </div>
    <div>
        <label>Radiobutton: </label><br />
        <input type="radio" id="radio1" name="radio" value="один" />
        <label for="radio1">Один</label>
        <input type="radio" id="radio2" name="radio" value="два" />
        <label for="radio2">Два</label>
        <input type="radio" id="radio3" name="radio" value="три" />
        <label for="radio3">Три</label><br />
    </div>
    <div>
        <input type="submit" value="Отправить" /><br /><br />
    </div>
    <label>Результат: </label>
    <label name="label">@Model.result</label>
</form>