@page
@model NET_6_Razor.Pages.Account.WelcomeModel

<h1>Добро пожаловать!</h1>
<label>Ваш логин: @Model.login</label>
<label>Ваш пароль: @Model.password</label>
<a asp-page="Account/Login" asp-page-handler="Logout">Logout</a>